.header
{
    height: 15vh;
    background-color: #F2F2F2;
    h1
    {
        line-height: 15vh;
        text-align: center;
        margin: 0;
        font-weight: 400;
        font-size: 38px;
    }
}
h2 ,h3
{
    text-align: center;
}
.center
{
    display: flex;
    align-items: center;
    justify-content: center;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding:12px 0;
}