.header
{
    height: 20vh;
    img
    {
        height: 100px;
        margin: 20px;
    }
}

.center
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.stats-container
{
    padding:10px;
}