<div class="container">
    <div class="row header">
        <div class="col-sm-2">
            <img src="/src/app/assets/images/logo_plenty_sw.svg">
        </div>
        <div class="col-sm-8 center">
            <h1>Plenty Stats Plugin</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <terra-base-toolbar>
                <terra-button inputIcon="icon-refresh"
                              (outputClicked)="updateData()">
                </terra-button>
            </terra-base-toolbar>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <terra-info-box>
                <div body>
                    <h4> User information</h4>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="stats-container">
                                <strong>Username:</strong>
                                <br>
                                <strong>Email:</strong>
                                <br>
                                <strong>Plugins:</strong>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="stats-container">
                                <span>{{user?.username}}</span>
                                <br>
                                <span>{{user?.email}}</span>
                                <br>
                                <span>{{plugins?.length}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </terra-info-box>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <terra-portlet inputPortletHeader="Installed webstores">
                <div *ngIf="!webStores[0]" class="center">
                    <terra-loading-spinner></terra-loading-spinner>
                </div>
                <table *ngIf="webStores[0]">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Type</th>
                    </tr>
                    <tr *ngFor="let store of webStores">
                        <td>{{store.id}}</td>
                        <td>{{store.name}}</td>
                        <td>{{store.type}}</td>
                    </tr>
                </table>
            </terra-portlet>
        </div>
        <div class="col-sm-6">
            <terra-portlet inputPortletHeader="Installed plugins">
                <div *ngIf="!plugins[0]" class="center">
                    <terra-loading-spinner></terra-loading-spinner>
                </div>
                <table *ngIf="plugins[0]">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Created at</th>
                    </tr>
                    <tr *ngFor="let plugin of plugins">
                        <td>{{plugin.id}}</td>
                        <td>{{plugin.name}}</td>
                        <td>{{plugin.created_at}}</td>
                    </tr>
                </table>
            </terra-portlet>
        </div>
    </div>
</div>