<div class="container">
    <div class="row">
        <div class="col-sm-12 center">
            <h1>Plenty Stats Plugin</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <terra-portlet inputPortletHeader="My Profile">
                <table>
                    <tr>
                        <td>Revenue:</td>
                        <td>1.000.000</td>
                    </tr>
                    <tr>
                        <td>Article sold:</td>
                        <td>99943324</td>
                    </tr>
                    <tr>
                        <td>Customers:</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>Favorite article:</td>
                        <td>raspberry pi 5b</td>
                    </tr>
                </table>
            </terra-portlet>
        </div>
    </div>
</div>