@import '../node_modules/@plentymarkets/terra-components/app/assets/styles/icons.glob.scss';
@import '../node_modules/@plentymarkets/terra-components/index.glob.scss';

body
{
    overflow-y: hidden;
}
