@import '../node_modules/@plentymarkets/terra-components/app/assets/styles/icons.glob.scss';
@import '../node_modules/@plentymarkets/terra-components/index.glob.scss';
@import '../node_modules/@plentymarkets/terra-components/app/assets/themes/theme-dark-standard.scss';
@import '../node_modules/@plentymarkets/terra-components/app/assets/themes/theme-dark-compact.scss';

body
{
    background-color: white !important;
    overflow-y: hidden;
}
